@media all and (max-width: 775px) {
    
    .navbar {
        width: 180px;
        height: 300px;
        background-color: rgb(245, 244, 178);
        text-align: center;
    }

    .navbar ul {
        margin: 0 auto;
        padding: 0;
        width: 100px;
    }
    .navbar ul li {
        display: block;
        
    }

    .navbar ul li a {
        margin-left: 0;
    }

    .navbar ul li a:after {
        display: none;
    }
}